include ./bem/form/form

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Registration Form
    link(rel='shortcut icon' type='image/x-icon' href='img/favicon.png')
    link(rel='stylesheet', type='text/css', href='dev/style/normalize.css')
    link(rel='stylesheet', type='text/css', href='dest/style/style.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,700', rel='stylesheet')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  body
    +form
script(src='dest/js/script.js')
